= simple_form_for @book do |f|
  = f.error_notification
  .form-inputs
    = f.input :title, required: true, autofocus: true
    = f.input :description, required: true
    = f.input :price, required: true
    = f.input :image, as: :file, input_html: { class: "form-control" }
    = f.input :author
    = f.input :publisher
    = f.input :pages
    = f.input :public_date
    = f.input :categories
  .form-actions
    = f.button :submit, class: "btn btn-primary"