
.well
  .text-right
    %button.btn.btn-success{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
      Leave a Review

    #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4.text-left#myModalLabel.modal-title New review
          .modal-body
            = simple_form_for [@book, @review] do |f|
              = f.error_notification
              .form-inputs.text-left
                #star-rating
                = f.input :comment  
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-primary.send-review{:type => "button"} Send review
  %hr     
  - if @reviews.blank?
    %h4 No review
    %hr
  - else
    - @reviews.each do |review|
      .row
        .col-md-12
          .star-rating{"data-score" => review.rating}
          = review.user.name
          %span.pull-right= time_ago_in_words(review.created_at) 
          %p= review.comment
      %hr

:javascript
  $('#myModal').on('show.bs.modal', function (event) {
    $('.send-review').click(function() {
      $('#new_review').submit();
      $('#myModal').modal('hide');
    });
  })