.well
  .text-right
    = link_to "Leave a Review", "#", class: "btn btn-success leave-review"
  #review-form
    .wrapper
      = simple_form_for([@book, @review]) do |f|
        = f.error_notification
        .form-inputs
          #star-rating
          = f.input :comment
        
        .form-actions
          = f.button :submit     
  %hr     
  - if @reviews.blank?
    %h4 No review
    %hr
  - else
    - @reviews.each do |review|
      .row
        .col-md-12
          .star-rating{"data-score" => review.rating}
          = review.user.name
          %span.pull-right= time_ago_in_words(review.created_at) 
          %p= review.comment
      %hr