.row
  .col-md-3
    = hidden_div_if(@cart.line_items.empty?, id: 'cart') do
      = render @cart
  .col-md-9
    - @books.each do |book|
      .col-sm-4-col-lg-4.col-md-4
        .thumbnail
          .img-wrapper
            = link_to (image_tag book.image.url(:medium), class: "cover"), book
          .caption
            %h4.pull-right= number_to_currency(book.price)
            %h4.title= link_to truncate(book.title, length: 15), book
            %p= truncate(book.description, length: 100)
          .ratings
            .pull-right= button_to "Add to Cart", line_items_path(book_id: book), class: "btn btn-primary", remote: true
            .star-rating{"data-score" => avg_review(book)}
            %p= pluralize(count_review(book), "review")

:javascript
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });