.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        Your Shopping
      .panel-body
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th
                  Books on cart 
                  %span.badge= @cart.total_book  
                %th Title
                %th Price
                %th Quantity
                %th Total price
            %tbody
              - @cart.line_items.each do |line_item|
                %tr
                  %td= image_tag line_item.book.image(:small)
                  %td
                    %p= line_item.book.title
                    = link_to line_item, class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } do
                      %i.fa.fa-trash-o
                      Delete
                  %td= number_to_currency(line_item.book.price)
                  %td= line_item.quantity
                  %td= number_to_currency(line_item.total_price)
      .panel-footer
        = link_to "Back to shopping", root_url, class: "btn btn-primary"
  .col-md-3
    .panel.panel-default
      .panel-heading
        Your Pay
      .panel-body
        %p
          Total price:
          %span.pull-right= number_to_currency(@cart.total_price)
        %p
          Discount:
          %span.pull-right= number_to_currency(0)
        %hr
        %p
          Price to pay:
          %span.pull-right= number_to_currency(@cart.total_price)
        = link_to "Continue", new_order_path, class: "btn btn-primary btn-large btn-full-width"