!!! 5
%html
%head
  %title Book Store
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "Book store", root_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to "New book", new_book_path  
          %li= link_to "#{current_user.name}", edit_user_registration_path
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign In", new_user_session_path
          %li= link_to "Sign Up", new_user_registration_path
  .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-#{name}"
    .row
      .col-md-3
        .cart
          .panel.panel-default
            .panel-heading
              %h4
                %i.fa.fa-shopping-cart
                Your Cart
            .panel-body
              = render @cart
      .col-md-9
        .row
          = yield

